/*--------------------------------------------------------------
	# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;

  .section-title {
    padding-bottom: 40px;
    h2 {
      font-size: 14px;
      font-weight: 500;
      padding: 0;
      line-height: 1px;
      margin: 0 0 5px 0;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #aaaaaa;
      font-family: "Poppins", sans-serif;
    }
    h2::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: #9ae1af;
      margin: 4px 10px;
    }

    p {
      margin: 0;
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      color: #37423b;
    }
  }
}

.section-bg {
  background-color: #f6f7f6;
}

a {
  text-decoration: none;
}
